
body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #282e3a;
}

#section-news {}

.flex-news {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
}

.bloc-news {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    flex: 0 0 400px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
    overflow: hidden;
}

.bloc-news img {
    width: 100%;
    height: 260px;
}

.tag {
    display: flex;
    justify-content: space-between;
}

.div-news {
    padding: 20px;
}

.div-news h2 {
    color: #063b9e;
}

.button {
    color: #063b9e;
    border: 1px solid #063b9e;
    padding: calc(.5rem - 1px) 1rem;
    font-size: .875rem;
    min-width: 2rem;
    min-height: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 3px;
    justify-content: center;
}

.button-rev {
    background-color: #063b9e;
    color: white;
    border: 1px solid #063b9e;
    padding: calc(.5rem - 1px) 1rem;
    font-size: .875rem;
    min-width: 2rem;
    min-height: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 3px;
    justify-content: center;
}

.center{
    text-align: center;
}

.menu {
    background-color: #00205b;
    height: 57px;
    display: flex;
    justify-content: space-between;
}
.toolbar{
    height: 56px;
    width: 150px;
}
.logo{
    padding: 7px;
    height:  56px;
    
}
.choise{
    justify-content: flex-end;
   
}
.navbar{
  
    display: flex;
    color: white;
   list-style-type: none;
}
.nav-item a{
    color: white;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#loupe{
    margin-top: -10px;
}


#playerContainer {
    background-repeat: no-repeat;
    background-size: cover;

}

#player{
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 30%;
        object-fit: contain;
    }

.video {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.video-control {
    position: absolute;
    left: 1em;
    bottom: 1em;
    min-width: 7.5em;
    padding: 0.5em 1em;
    text-align: left;
    background: rgba(0,0,0,0.5);
    border: none;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
}

.textLayer {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
}
.titleAndButton{
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    
}

.title {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 3.125rem;
    line-height: 4rem;
    font-weight: 500;
    color: #FFFFFF;
}
h2{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    
}

.buttonLink{
    margin: 10px;
    text-align: center;
    margin: 40px 0 0 0;
}

.link{
    all: initial;
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: -webkit-inline-box;
    display: inline-flex;
    outline: 0;
    padding: calc(0.5rem - 1px) 1rem;
    font-size: .875rem;
    min-width: 2rem;
    box-sizing: border-box;
    min-height: 1.5rem;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    text-transform: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    
}
.GFG {
    
    border-radius: 3px;
    color: #fff;
    border: 1px solid transparent;
    background-color: rgba(0,45,128,0.8);
   
}
