
body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #282e3a;
}

#section-news {}

.flex-news {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
}

.bloc-news {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    flex: 0 0 400px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.14);
    overflow: hidden;
}

.bloc-news img {
    width: 100%;
    height: 260px;
}

.tag {
    display: flex;
    justify-content: space-between;
}

.div-news {
    padding: 20px;
}

.div-news h2 {
    color: #063b9e;
}

.button {
    color: #063b9e;
    border: 1px solid #063b9e;
    padding: calc(.5rem - 1px) 1rem;
    font-size: .875rem;
    min-width: 2rem;
    min-height: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 3px;
    justify-content: center;
}

.button-rev {
    background-color: #063b9e;
    color: white;
    border: 1px solid #063b9e;
    padding: calc(.5rem - 1px) 1rem;
    font-size: .875rem;
    min-width: 2rem;
    min-height: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 3px;
    justify-content: center;
}

.center{
    text-align: center;
.menu {
    background-color: #00205b;
    height: 57px;
    display: flex;
    justify-content: space-between;
}
.toolbar{
    height: 56px;
    width: 150px;
}
.logo{
    padding: 7px;
    height:  56px;
    
}
.choise{
    justify-content: flex-end;
   
}
.navbar{
  
    display: flex;
    color: white;
   list-style-type: none;
}
.nav-item a{
    color: white;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#loupe{
    margin-top: -10px;
}